.postHeader{
    width: 95%;
    margin: auto;
    margin-top: 40px;
    height: 500px;
    background-color: aliceblue;
}
.postLinks{
    width: 95%;
    margin: auto;
    margin-top: 40px;
    height: 100px;
    background-color: aliceblue;
}
#goBack{
    position: absolute;
    left: 70px;
    top: 70px;
    background-color: transparent;
}
#postlikes{
    position: absolute;
    color: var(--eerie-black);
    font-size: 25px;
    right: 70px;
    margin-top: 10px;
}
.projectTitle{
    font-size: 50px;
    margin-left: 70px;
    padding-top: 10%;
}
.projectDes{
    color: var(--eerie-black);
    max-width: 90%;
    padding-left: 70px;
    font-size: 20px;
}
.postTools{
    color: var(--light);
    font-weight: lighter;
    font-size: 50px;
    margin-left: 70px;
    margin-top: 50px;
}
.toolList{
    max-width: 100%;
    opacity: 90%;
}
.tools{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}
.postComments{
    color: var(--light);
    font-weight: lighter;
    font-size: 50px;
    margin-left: 70px;
    margin-top: 70px;
}
#comments{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.commentCard{
    width: 90%;
    height: 170px;
    background-color: var(--dark-lava);
    opacity: 80%;
    margin-bottom: 40px;
}
.user{
    position: relative;
    bottom: 160px;
}
.commentUser{
    margin-left: 170px;
}
.commentBody{
    top: 0px;
    padding-left: 130px;
    max-width: 90%;
}

#commentProfile{
    background: url('../images/png/logo-white.png');
    width: 70px;
    height: 70px;
    border-radius: 100%;
    margin-top: 3%;
    margin-left: 3%;
  }
  #followComment{
    height: 20px;
    width: 20px;
    margin-left: 70px;
  }
  /*-------------Menu component---------------*/
  section#postMenu{
    position: absolute;
    top: 15%;
    right: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100px;
    height: 350px;
    background-color: black;
  
}  
#postMenu img{
        z-index: 2;
       margin-top: 20px;
       margin-left: 20px;
 
    }

    #userInfoPost{
    position: absolute;
    top: 55%;
    left: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 350px;
    height: 100px;
    background-color: black;

    }
    #userInfoPost h3{
        margin-top: 0;
        margin-bottom: -10px;
        margin-left: 40%;
        padding-top: 10;
        font-weight: lighter;
    }
    #userInfoPost h2{
        margin-left: 40%;
        font-size: 30px;
    }
    #userPic{
        background: url('../images/logo-white.svg');
        width: 100px;
        height: 100px;
        border-radius: 100%;
       position: absolute;
       margin-left: 5%;
       margin-top: 2%;
    }

    /* FORM-CARDS */

.formCard {
    margin: 0 0 20px 0;
    border: 3px solid var(--dark);
    border-radius: var(--border-radius);
    background-color: var(--light);
    color: var(--primary);
    height: relative;
    max-width: 125%;
    margin-left: -50px;
    padding: 10px;
  }
  
  .formCard-header{
    color: var(--post-primary);
    margin: 0;
    background-color: var(--post-secondary);
    padding: 0.625rem;
    border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
  }
  .formCard-body{
    color: var(--post-primary);
    margin: 0;
    background-color: var(--post-secondary);
    padding: 0.625rem;
    border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
  }
  .formCard-footer{
    color: var(--post-primary);
    margin: 0;
    background-color: var(--post-secondary);
    padding: 0.625rem;
    border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
  }
  
  .commentCard {
    margin: 0 0 20px 0;
    border: 3px solid var(--dark);
    border-radius: var(--border-radius);
    background-color: var(--light);
    color: var(--primary);
    height: 100px;
    max-width: 125%;
    padding-left: 50px;
    margin-left: -50px;
  }

  .bw {
    position: relative;
    font-size: 30px;
    background: rgb(255, 255, 255);
    font-family: 'Ubuntu', sans-serif;
    color: rgb(0, 0, 0);
  }

  button.btn.col-12.col-md-3{
    max-width: 20%;
    max-height: 8%;
    margin-top: 20px;
    margin-right: 20px;
    font-size: 25px;
  }
  button.btn.col-12.col-md-3:hover{
    color: var(--eerie-black);
  }
  div.deletePost{
    border: none;
  }
